ddx.care {
	@protected not method OPTIONS
	basic_auth @protected {
		admin {$BASIC_AUTH_HASH}
	}

	header Strict-Transport-Security "max-age=63072000"

	header {
		Content-Security-Policy "default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' data:; connect-src 'self' wss://ddx.care; frame-ancestors 'none'; base-uri 'none'; form-action 'self'; object-src 'none'"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	reverse_proxy localhost:3000 {
		header_up X-Real-IP {remote_host}
	}

	encode gzip

	log {
		format filter {
			wrap json
			request>headers>X-Job-Token delete
			request>uri query {
				replace token REDACTED
				replace ticket REDACTED
			}
		}
	}
}
